@charset "utf-8";

/* ------------------- */
/*        base         */
/* ------------------- */
html {
  font-size: 62.5%;
}
body {
	font-family: Montserrat;
}
@mixin fontsize($size: 24) {
  font-size: $size + px;
  font-size: ($size / 10) * 1rem;
}
.noscroll{
	overflow: hidden;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  opacity: .6;
  transition: .3s;
}

img {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  @include fontsize(32);
  margin-bottom: 30px;
  text-transform: uppercase;
}

button {
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 0;
  width: 160px;
  height: 36px;
  border: none;
  cursor: pointer;
  @include fontsize(12);
  font-family: sans-serif;
  transition: .3s;
}
button:hover {
  opacity: .7;
  transition: .3s;
}

/* header------------------*/
header {
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: .6;
    display: none;
    z-index: 2;
  }
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 10;
  .header-inner {
    margin: auto;
    padding: 0 58px;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    .site-title {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      margin: 0;
      img {
        width: 100%;
        max-width: 260px;
      }
    }
    .burger-btn {
      color: #FFF;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      z-index: 5;
      /* ハンバーガーボタン */
        .btn-trigger {
          position: relative;
          width: 22px;
          height: 10px;
          cursor: pointer;
          margin-right: 7px;
        }
        .btn-trigger span {
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #fff;
          border-radius: 2px;
        }
        .btn-trigger, .btn-trigger span {
          display: inline-block;
          transition: all .5s;
          box-sizing: border-box;
        }
        .btn-trigger span:nth-of-type(1) {
          top: 0;
        }
        .btn-trigger span:nth-of-type(2) {
          top: 4px;
        }
        .btn-trigger span:nth-of-type(3) {
          bottom: 0;
        }
        /* //ハンバーガーボタン */

        /* 変形 */
        #btn01.active span:nth-of-type(1) {
          -webkit-transform: translateY(4px) rotate(-45deg);
          transform: translateY(4px) rotate(-45deg);
        }
        #btn01.active span:nth-of-type(2) {
          opacity: 0;
        }
        #btn01.active span:nth-of-type(3) {
          -webkit-transform: translateY(-4px) rotate(45deg);
          transform: translateY(-4px) rotate(45deg);
        }
        /* //変形 */
        .menu-logo {
          @include fontsize(10);
          align-items: center;
          text-transform: uppercase;
        }
    }
    .header-nav {
      position: fixed;
      top: 0;
      right: -40%;
      z-index: 4;
      background-color: #000;
      opacity: .9;
      color: #fff;
      height: 100vh;
      width: 40%;
      padding: 180px 0;
      text-align: center;
      margin: 0;
      .nav-icon {
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        img {
          display: inline-block;
          text-align: center;
          margin: 0;
          width: 100%;
          max-width: 45px;
        }
      }
      .nav-list {
        text-align: center;
        margin: auto;
        @include fontsize(20);
        text-transform: uppercase;
        letter-spacing: .2rem;
        .nav-list-item {
          margin-bottom: 30px;
        }
      }
    }
  }
}

/* tablet-view------------------*/
@media screen and (max-width:769px) {
  header {
    .header-inner {
      padding: 0 30px;
      .site-title {
        img {
          width: 189px;
        }
      }
    }
  }
}

/* sp-view------------------*/
@media screen and (max-width:375px) {
  header {
    height: 60px;
    .header-inner {
      padding: 0 10px;
      height: 60px;
      .header-nav {
        .nav-list {
          @include fontsize(14);
        }
      }
    }
  }
}

/* //header------------------*/

/* fv------------------*/
.fv {
  width: 100%;
  height: 60vh;
  min-height: 400px;
  margin: 0;
  padding: 0;
  .fv-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    .fv-img {
      background-image: url(../img/about-header@2.jpg);
      background-position: center;
      background-size: cover;
      height: 80%;
      width: 80%;
      z-index: 2;
    }
    .fv-bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      background-color: #000;
      width: 40%;
      height: 60vh;
      min-height: 400px;
    }
    .fv-catch-copy {
      z-index: 3;
      color: #fff;
      position: absolute;
      top: 30%;
      right: 10%;
      text-transform: uppercase;
      .sub-copy {
        @include fontsize(20);
      }
      .main-copy {
        @include fontsize(72);
        letter-spacing: .3rem;
      }
    }
  }
}

/* tablet-view------------------*/
@media screen and (max-width:769px) {
  .fv {
    .fv-inner {
      .fv-catch-copy {
        .main-copy {
          @include fontsize(52);
        }
        .sub-copy {
          @include fontsize(16);
        }
      }
    }
  }
}
/* sp-view------------------*/
@media screen and (max-width:375px) {
  .fv {
    .fv-inner {
      .fv-catch-copy {
        top: 30%;
        right: 0;
        .main-copy {
          @include fontsize(52);
        }
        .sub-copy {
          text-align: right;
          @include fontsize(16);
        }
      }
    }
  }
}

/* //fv------------------*/

/* vision------------------*/
.vision {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 120px 320px;
    .sub-title {
      @include fontsize(24);
      margin-bottom: 30px;
    }
    p {
      @include fontsize(16);
      margin-bottom: 40px;
    }
  }
}

/* tablet-view------------------*/
@media screen and (max-width:769px) {
  .vision {
    margin: 80px auto 0;
    .wrapper {
      padding: 0 0 0 150px;
      .sub-title {
        font-weight: normal;
      }
      p {
        @include fontsize(14);
      }
    }
  }
}

/* sp-view------------------*/
@media screen and (max-width:375px) {
  .vision {
    .wrapper {
      padding: 0 0 0 15px;
    }
  }
}

/* //vision------------------*/

/* message------------------*/
  .message {
    position: relative;
    .msg-img {
      width: 100%;
      max-width: 420px;
      position: absolute;
      top: -141px;
      left: 120px;
      img {
        width: 100%;
        max-width: 420px;
      }
    }
    .container {
      padding: 0 120px;
      margin-top: 141px;
      .wrapper {
        background-color: #F0F0F0;
        text-align: right;
        padding: 150px 15% 90px;
        margin-left: 300px;
        .contents-box {
          text-align: left;
          p {
            @include fontsize(16);
            margin-bottom: 40px;
          }
        }
      }
    }
  }

/* tablet-view------------------*/
@media screen and (max-width:769px) {
  .message {
    .msg-img {
      max-width: 320px;
      top: -130px;
      left: 30px;
      img {
        max-width: 320px;
      }
    }
    .container {
      padding: 0 30px;
      margin-top: 215px;
      .wrapper {
        padding: 110px 40px 85px;
        margin-left: 30%;
        margin-top: 0;
        .contents-box {
          text-align: left;
          p {
            @include fontsize(16);
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}

/* sp-view------------------*/
@media screen and (max-width:375px) {
  .message {
    .msg-img {
      max-width: 340px;
      top: -130px;
      left: 0;
      img {
        max-width: 340px;
      }
    }
    .container {
      padding: 0 15px;
      margin-top: 215px;
      .wrapper {
        padding: 126px 28px 85px;
        margin-left: 0;
        margin-top: 0;
        .contents-box {
          p {
            @include fontsize(14);
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}

/* //message------------------*/

/* company------------------*/
  .company {
    margin: 120px auto;
    .wrapper {
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 120px;
      .company-title {
        padding-bottom: 30px;
        margin: 0;
        border-bottom: 1px solid #DDDDDD;
      }
      .table {
        font-family: sans-serif;
        text-align: right;
        margin: 0 0 0 30%;
        table {
          width: 100%;
          @include fontsize(16);
          border-collapse: collapse;
          padding: 0;
          tr {
            text-align: left;
            height: 50px;
            width: 100%;
            th {
              padding: 0;
              width: 25%;
              max-width: 200px;
              border-bottom: 1px solid #DDD;
            }
            td {
              border-bottom: 1px solid #DDD;
              width: 75%;
            }
          }
        }
      }
      .map {
        margin: 40px auto 120px;
        text-align: center;
        width: 100%;
        iframe {
          width: 100%;
        }
      }
    }
  }

  /* tablet-view------------------*/
  @media screen and (max-width:769px) {
    .company {
      margin-bottom: 80px;
      .wrapper {
        padding: 0 30px;
        .table {
          margin: 0 0 0 5%;
          table {
            tr {
              height: 60px;
            }
          }
        }
        .map {
          iframe {
            height: 230px;
            object-fit: cover;
          }
        }
      }
    }
  }

/* sp-view------------------*/
@media screen and (max-width:375px) {
  .company {
    margin: 80px auto;
    .wrapper {
      padding: 0 15px;
      .table {
        margin: 0;
        table {
          @include fontsize(14);
          tr {
            th {
              font-weight: normal;
              width: 40%;
            }
            td {
              width: 60%;
            }
          }
        }
      }
      .map {
        margin-bottom: 80px;
        iframe {
          height: 470px;
          object-fit: cover;
        }
      }
    }
  }
}
/* //company------------------*/

/* footer------------------*/
footer {
  font-family: 'Montserrat Medium';
  background-color: #525252;
  height: 50px;
  width: 100%;
  text-align: center;
  small {
    text-transform: uppercase;
    display: inline-block;
    @include fontsize(10);
    color: #fff;
    letter-spacing: .15rem;
    margin: 20px auto;
  }
}
/* //footer------------------*/