@charset "utf-8";

/* ------------------- */
/*        base         */
/* ------------------- */
html {
  font-size: 62.5%;
}
body {
  font-family: Montserrat;
  color: #333;
}
@mixin fontsize($size: 24) {
  font-size: $size + px;
  font-size: ($size / 10) * 1rem;
}
.noscroll{
	overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
  transition: .3s;
}
a:hover {
  opacity: .6;
  transition: .3s;
}

img {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

button {
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 0;
  font-family: sans-serif;
  width: 160px;
  height: 36px;
  border: none;
  cursor: pointer;
  @include fontsize(12);
  text-transform: uppercase;
  transition: .3s;
}
button:hover {
  opacity: .7;
  transition: .3s;
}

.title {
  @include fontsize(30);
  margin-bottom: 30px;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

/* header------------------*/
header {
    .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: .6;
    display: none;
    z-index: 2;
  }
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 10;
  .header-inner {
    margin: auto;
    padding: 0 58px;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    .site-title {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      margin: 0;
      img {
        width: 100%;
        max-width: 260px;
      }
    }
    .burger-btn {
      color: #FFF;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      z-index: 5;
      /* ハンバーガーボタン */
        .btn-trigger {
          position: relative;
          width: 22px;
          height: 10px;
          cursor: pointer;
          margin-right: 7px;
        }
        .btn-trigger span {
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #fff;
          border-radius: 2px;
        }
        .btn-trigger, .btn-trigger span {
          display: inline-block;
          transition: all .5s;
          box-sizing: border-box;
        }
        .btn-trigger span:nth-of-type(1) {
          top: 0;
        }
        .btn-trigger span:nth-of-type(2) {
          top: 4px;
        }
        .btn-trigger span:nth-of-type(3) {
          bottom: 0;
        }
        /* //ハンバーガーボタン */

        /* 変形 */
        #btn01.active span:nth-of-type(1) {
          -webkit-transform: translateY(4px) rotate(-45deg);
          transform: translateY(4px) rotate(-45deg);
        }
        #btn01.active span:nth-of-type(2) {
          opacity: 0;
        }
        #btn01.active span:nth-of-type(3) {
          -webkit-transform: translateY(-4px) rotate(45deg);
          transform: translateY(-4px) rotate(45deg);
        }
        /* //変形 */
        .menu-logo {
          @include fontsize(10);
          align-items: center;
          text-transform: uppercase;
        }
    }
    .header-nav {
      position: fixed;
      top: 0;
      right: -40%;
      z-index: 4;
      background-color: #000;
      opacity: .9;
      color: #fff;
      height: 100vh;
      width: 40%;
      padding: 180px 0;
      text-align: center;
      margin: 0;
      .nav-icon {
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        img {
          display: inline-block;
          text-align: center;
          margin: 0;
          width: 100%;
          max-width: 45px;
        }
      }
      .nav-list {
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        @include fontsize(20);
        letter-spacing: .2rem;
        .nav-list-item {
          margin-bottom: 30px;
        }
      }
    }
  }
}

/* tablet-view------------------*/
@media screen and (max-width:769px) {
  header {
    .header-inner {
      padding: 0 30px;
      .site-title {
        img {
          width: 189px;
        }
      }
    }
  }
}

/* sp-view------------------*/
@media screen and (max-width:375px) {
  header {
    height: 60px;
    .header-inner {
      padding: 0 10px;
      height: 60px;
      .header-nav {
        .nav-list {
          @include fontsize(14);
        }
      }
    }
  }
}
/* //header------------------*/

/* fv------------------*/
.fv {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  .fv-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    .fv-img {
      background-image: url(../img/home-header@2x.jpg);
      background-position: center;
      background-size: cover;
      height: 80％;
      width: 80%;
      z-index: 2;
    }
    .fv-bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      background-color: #000;
      width: 40%;
      height: 100vh;
      padding: 0;
    }
    .fv-catch-copy {
      text-transform: uppercase;
      z-index: 3;
      color: #fff;
      position: absolute;
      top: 25%;
      right: 10%;
      .sub-copy {
        @include fontsize(20);
      }
      .sub-copy2 {
        margin-bottom: 30px;
      }
      .main-copy {
        @include fontsize(72);
        letter-spacing: .1rem;
        line-height: 8rem;
      }
    }
  }
}

/* tablet-view------------------*/
@media screen and (max-width:769px) {
  .fv {
    .fv-inner {
      .fv-catch-copy {
        .main-copy {
          line-height: 6.5rem;
        }
      }
    }
  }
}
/* sp-view------------------*/
@media screen and (max-width:375px) {
  .fv {
    .fv-inner {
      .fv-catch-copy {
        .main-copy {
          @include fontsize(52);
        }
        .sub-copy {
          @include fontsize(16);
        }
        .sub-copy2 {
          margin-bottom: 20px;
        }
      }
    }
  }
}
/* //fv------------------*/

/* about------------------*/
.about {
  .wrapper {
    max-width: 1440px;
    margin: 120px auto;
    .about-container {
      .about-us {
        margin: 0 auto;
        background-image: url(../img/home-about@2x.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 1100px;
        height: 100%;
        padding: 100px 7% 60px;
        .about-inner {
          z-index: 2;
          background-color: #fff;
          width: 100%;
          max-width: 590px;
          height: 100%;
          padding: 50px 30px;
          margin: 0;
          opacity: .95;
          p {
            font-family: sans-serif;
            @include fontsize(16);
            margin-bottom: 30px;
            line-height: 3.2rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .container {
    background-color: #F0F0F0;
    .content-wrapper {
    margin: 0 auto;
      .contents {
        margin: 0 auto;
        padding: 50px 20px;
        max-width: 1100px;
        align-items: baseline;
        .content {
          flex: 1;
          margin-right: 60px;
          width: 100%;
          max-width: 520px;
          img {
            width: 100%;
          }
          p {
            @include fontsize(16);
            margin: 30px 0;
            font-family: sans-serif;
            text-transform: uppercase;
          }
        }
        .content:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

/* tablet-view------------------*/
@media screen and (max-width:769px) {
  .about {
    margin-top: 80px;
    .wrapper {
      padding: 0;
      .about-us {
        .about-inner {
          padding: 40px 30px;
          .title {
            @include fontsize(32);
          }
          p {
            @include fontsize(16);
          }
        }
      }
    }

    .container {
      background-color: #F2F2F2;
      .content-wrapper {
        padding: 60px 30px 40px;
      }
      .contents {
        margin: 0 auto;
        flex-direction: column;
        .content {
          margin-right: 0;
          margin-bottom: 80px;
          p {
            @include fontsize(16);
          }
        }
      }
    }
  }
}

/* sp-view------------------*/
@media screen and (max-width:375px) {
  .about {
    margin-top: 78px;
    .wrapper {
      .about-us {
        .about-inner {
          top: 10%;
          left: 4%;
          width: 100%;
          max-width: 345px;
          height: 441px;
          padding: 50px 30px;
          .title {
            @include fontsize(28);
          }
          p {
            @include fontsize(14);
            line-height: 2.5rem;
          }
        }
      }
    }

    .container {
      .content-wrapper {
        padding: 40px 15px;
      }
      .contents {
        .content {
          margin-bottom: 40px;
        }
        .culture {
          margin-bottom: 0;
        }
      }
    }
  }
}
/* //about------------------*/

/* topics------------------*/
.topics {
  .topics-wrapper {
    padding: 120px 170px;
    max-width: 1440px;
    margin: 0 auto;
    .topics-contents {
      margin-left: 40%;
      .topics-list {
        .topics-date {
          font-family: 'Montserrat Medium';
          @include fontsize(10);
          color: #CECECE;
          margin-bottom: 13px;
        }
        .list-item {
          text-transform: uppercase;
          font-family: sans-serif;
          color: #333;
          @include fontsize(14);
          font-weight: bold;
          padding-bottom: 12px;
          margin-bottom: 32px;
          border-bottom: 1px solid #DDDDDD;
          transition: .3s;
        }
        .list-item:hover {
          opacity: .5;
          transition: .3s;
        }
      }
      .topics-btn {
        width: 160px;
        height: 36px;
        display: block;
        margin: 0 0 0 auto;
      }
    }
  }
}

/* tablet-view------------------*/
@media screen and (max-width:769px) {
  .topics {
    .topics-wrapper {
      padding: 40px 30px;
      .topics-contents {
        margin-left: 0;
        .topics-btn {
          margin: 0;
        }
      }
    }
  }
}

/* sp-view------------------*/
@media screen and (max-width:375px) {
  .topics {
    .topics-wrapper {
      padding: 40px 15px;
      .topics-contents {
        .topics-list {
          .topics-date {
            margin-bottom: 11px;
          }
          .list-item {
            @include fontsize(12);
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
/* //topics------------------*/

/* contact------------------*/
.contact {
  background-color: #F0F0F0;
  .wrapper {
    padding: 60px 170px 170px;
    max-width: 1440px;
    margin: 0 auto;
    .contact-content {
      flex: 1;
      margin-right: 80px;
      p {
        @include fontsize(16);
        margin: 32px 0 30px;
        line-height: 3.2rem;
        font-family: sans-serif;
      }
    }
    .contact-img {
      flex: 1.2;
      max-width: 480px;
      img {
        width: 100%;
      }
    }
  }
}

/* tablet-view------------------*/
@media screen and (max-width:769px) {
  .contact {
    .wrapper {
      padding: 40px 30px 80px;
      .contact-contents {
        flex-direction: column-reverse;
        align-items: stretch;
        .contact-content {
          margin-right: 0;
          width: 100%;
          max-width: 510px;
          p {
            margin: 30px 0;
          }
        }
        .contact-img {
          flex: 1;
          margin-bottom: 30px;
          img {
            width: 100%;
            max-width: 520px;
          }
        }
      }
    }
  }
}

/* sp-view------------------*/
@media screen and (max-width:375px) {
  .contact {
    .wrapper {
      padding: 40px 15px;
      .contact-contents {
        align-items: center;
      }
    }
  }
}
/* //contact------------------*/

/* footer------------------*/
footer {
  font-family: 'Montserrat Medium';
  background-color: #525252;
  height: 50px;
  width: 100%;
  text-align: center;
  small {
    display: inline-block;
    @include fontsize(10);
    color: #fff;
    letter-spacing: .15rem;
    margin: 20px auto;
    text-transform: uppercase;
  }
}